<!--footer-->
<footer role="contentinfo" class="bg_light_3 p_top_0 p_bottom_0">
  <!--bottom part-->
  <section class="footer_bottom_part t_align_c color_grey bg_light_4 fw_light">
    {{!-- <a href="#">Terms and Conditions</a>
    <a href=""> | </a>
    <a href="#">Privacy Policy</a> --}}
    <p>&copy; 2017 VirtuTV. All Rights Reserved.</p>
  </section>
</footer>