<!doctype html>
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
  <head>
    <title>VirtuTV</title>
    <!--meta info-->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="">
    <meta name="keywords" content="VirtuTV, cryptocurrency, ICO, ethereum, video, streaming, TV">
    <meta name="description" content="">
    <meta name="google-site-verification" content="DhS7YTFLFl6rP0H8nO6e1AmKGKH7qL15-MhU6SH6tT0" />
    <link rel="shortcut icon" type="image/x-icon" href="images/tv.ico">
    <!--web fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
    <!--lins css-->
     
{{!--     <link rel="stylesheet" type="text/css" media="all" href="plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" media="all" href="plugins/owl-carousel/owl.transitions.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" media="all" href="plugins/jackbox/css/jackbox.min.css"> --}}
    <!--theme css-->
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="css/theme-animate.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
    <script src="https://use.fontawesome.com/3d2b162258.js"></script>
    <!--head libs-->
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="plugins/jquery.queryloader2.min.js"></script>
    <script src="plugins/modernizr.js"></script>
    <script>
      $('html').addClass('d_none');
      $(document).ready(function(){
        $('html').show();
        $("body").queryLoader2({
          backgroundColor: '#fff',
          barColor : '#35eef6',
          barHeight: 4,
          percentage:true,
          deepSearch:true,
          minimumTime:1000
        });
      });
    </script>
  </head>
  <body class="sticky_menu">
    {{{body}}}

    <!--include scripts-->
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/jackbox/js/jackbox-packed.min.js"></script>
    <script src="plugins/jquery.appear.js"></script>
    <script src="plugins/afterresize.min.js"></script>
    <script src="plugins/jquery.plugin.min.js"></script>
    <script src="plugins/jquery.countdown.min.js"></script>
    <script src="plugins/twitter/jquery.tweet.min.js"></script>
    <script src="plugins/flickr.js"></script>
    <script src="plugins/jquery.easing.1.3.js"></script>
     
    <script src="js/countdown.js"></script>
    <!--Theme Initializer-->
    {{!--<script src="js/theme.js"></script>
    <script src="js/theme.plugins.js"></script>--}}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  </body>
</html>