<!--page title-->
<section class="page_title translucent_bg_purple image_fixed image_bg_11 t_align_c relative wrapper">
  <div class="container">
    <h1 class="color_light fw_light m_bottom_5">Frequently Asked Questions</h1>
  </div>
</section>
<div class="section_offset">
  <div class="container clearfix">
    <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 m_xs_bottom_30">
        <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">FAQ</h3>
        <p class="m_bottom_35 heading_2 t_align_c"></p>   
        <div class="tabs t_align_c">
          <div id="tab-1">
            <div class="accordion t_align_l">
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">What is VirtuTV?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">VirtuTV is a decentralized video consumption and monetization platform that gives creators income for their videos, and gives non-creators income for streaming video. The base currency of the platform is Virtucoin (VRTU). </dd>
              </dl>
              
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all"> Will I receive  Virtucoins when I signup?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">Yes! Every user that sign's up will automatically receive 10 VRTU coin until the 50,000,000 reserve is exhausted. See the Whitepaper for details.</dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">Is it free to create an account?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">Yes.</dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">What cryptocoin will I be able to use on VirtuTV?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">Only VRTU coin forever.</dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">What are the different ways to earn money on the platform?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">Content creators get paid per view and for one-time/recurring donations that unlock content for viewers. Non-content creators get paid for streaming video, and by flagging inappropriate content and content that is inappropriately categorized.</dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">How long until rollout after the crowdsale?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">3 months. Alpha testing of our platform will begin approximately 12 weeks after the crowdsale for crowdsale participants! You can expect our beta to launch in the first quarter of 2018.</dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">How do I get an invite to the alpha?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">After you contribute to the crowdsale, you will receive a welcome invitation via email to the VirtuTV platform. Continue to check our website and slack/social media channels for announcements as well.</dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">How do I contribute to the VirtuTV Crowdsale?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">The crowdsale date will be announced on this website and on our social media. We will provide periodic updates on our website and on our Slack.
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">Can you create and stream content and get paid for both?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_light color_dark">Yes. </dd>
              </dl>
              <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                <dt class="accordion_link relative color_dark tr_all">What is the fee to use the VirtuTV platform?
                  <span class="icon_wrap_size_1 circle d_block hide">
                    <i class="icon-minus"></i>
                  </span>
                  <span class="icon_wrap_size_1 circle d_block show">
                    <i class="icon-plus"></i>
                  </span>
                </dt>
                <dd class="fw_exbold color_dark">Donations</dd>
                <ul class="color_dark fw_light m_left_15">
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>95% goes to content creators, 5% platform fee, if there is no locked content</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>90% of every donation goes to creators, 5% will go to file streamers, and 5% platform fee, if there is locked content</li>
                    {{!-- <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>5% will go to file streamers</li> --}}
                </ul>
                <br>
                <dd class="fw_exbold color_dark">View Fees</dd>
                <ul class="color_dark fw_light m_left_15">
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>49% will go to content creators</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>5% will go to file streamers</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>45% platform fee</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>1% will go to a community bounty pool which will encourage community members to flag inappropriate content and keep the platform safe for all</li>
                    
                </ul>
                <br>
                <dd class="fw_exbold color_dark">Advertising Fees</dd>
                <ul class="color_dark fw_light m_left_15">
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>50% goes to content creators</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>50% platform fee</li>
                </ul>
              </dl>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>