      <!--header image-->
      <section class="image_bg_6 darkness relative vc_child t_align_c">
        <div class="container">
          <h1 class="color_light fw_light m_bottom_15">Decentralized Video Monetization Platform</h1>
          <p class="m_bottom_25 color_grey_light_3 fs_large">VirtuTV is a project aimed at developing a next-generation video consumption <br>and monetization platform for Web 3.0.</p> 
          <div class="d_inline_b clearfix">
            <a href="/crowdsale" onclick="window.open('/crowdsale')" class="select_button_left f_xs_none color_light bg_color_green relative color_green_hover fs_large tt_uppercase f_left">Contribute to Crowdsale</a>
            <div class="f_left or color_light tt_uppercase d_xs_none">or</div>
            {{!-- <br class="d_none d_xs_block"> --}}
            <a href="#how_it_works" class="select_button_right color_dark f_xs_none bg_light color_light_hover fs_large relative tt_uppercase f_left">View ICO Details</a>
          </div>
        </div>
      </section>
      <!--content-->
      <section class="section_offset">
        <div class="container t_align_c">
          <h3 class="color_dark fw_light m_bottom_15" data-appear-animation="bounceInLeft">Video Consumption & Monetization</h3>
          <p class="m_bottom_35" data-appear-animation="bounceInLeft" data-appear-animation-delay="150">You're a star creator. It's time you were treated like one. </p>
          <div class="row t_align_c">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
              <figure data-appear-animation="fadeInUp">
                <div class="icon_wrap_size_6 type_2 circle d_inline_m animation_fill relative m_bottom_20">
                  <i class="icon-money tr_all"></i>
                </div>
                <figcaption>
                  <h5 class="color_dark m_bottom_15">Monetize Content</h5>
                  <p class="m_bottom_23">
                  As a content creator, you get paid-per-view, for one-time and recurring donations from fans, and you can additionally earn money by streaming content to viewers, and by flagging inappropriate content.</p>
                  {{!-- <a href="#" class="button_type_2 color_dark r_corners fs_medium color_blue_hover tr_all d_inline_b">Read More</a> --}}
                </figcaption>
              </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <figure data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                <div class="icon_wrap_size_6 type_2 circle d_inline_m animation_fill relative m_bottom_20">
                  <i class="icon-trophy tr_all"></i>
                </div>
                <figcaption>
                  <h5 class="color_dark m_bottom_15">Earn More</h5>
                  <p class="m_bottom_23">At VirtuTV, we believe creators should be compensated fairly. That's why creators ALWAYS keep the majority earned.</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <figure data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                <div class="icon_wrap_size_6 type_2 circle d_inline_m animation_fill relative m_bottom_20">
                  <i class="icon-rocket tr_all"></i>
                </div>
                <figcaption>
                  <h5 class="color_dark m_bottom_15">Get Paid To Stream</h5>
                  <p class="m_bottom_23">Earn Virtucoins by streaming video files to viewers.</p>
                  {{!-- <a href="#" class="button_type_2 color_dark r_corners fs_medium color_purple_hover tr_all d_inline_b">Read More</a> --}}
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row t_align_c">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
              <figure data-appear-animation="fadeInUp">
                <div class="icon_wrap_size_6 type_2 circle d_inline_m animation_fill relative m_bottom_20">
                  {{!-- <i class="icon-money tr_all"></i> --}}
                  <img src="images/ETH.png">
                </div>
                <figcaption>
                  <h5 class="color_dark m_bottom_15">P2P</h5>
                  <p class="m_bottom_23">VirtuTV is built with Ethereum's network and smart contract technology.</p>
                  {{!-- <a href="#" class="button_type_2 color_dark r_corners fs_medium color_blue_hover tr_all d_inline_b">Read More</a> --}}
                </figcaption>
              </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
              <figure data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                <div class="icon_wrap_size_6 type_2 circle d_inline_m animation_fill relative m_bottom_20">
                  <i class="icon-circle tr_all"></i>
                </div>
                <figcaption>
                  <h5 class="color_dark m_bottom_15">Anonymity</h5>
                  <p class="m_bottom_23">Creators can remain anonymous on the VirtuTV platform. An excellent feature for citizen and investigative journalists, creators can collect their income without revealing their identity.</p>
                  {{!-- <a href="#" class="button_type_2 color_dark r_corners fs_medium color_pink_hover tr_all d_inline_b">Read More</a> --}}
                </figcaption>
              </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
              <figure data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                <div class="icon_wrap_size_6 type_2 circle d_inline_m animation_fill relative m_bottom_20">
                  <i class="icon-eye tr_all"></i>
                </div>
                <figcaption>
                  <h5 class="color_dark m_bottom_15">Anti-censorship</h5>
                  <p class="m_bottom_23"> Since we do not rely solely on ad revenue to compensate content creators, this allows us to focus on freedom of speech instead of siding with the advertiser’s voice.
                  </p>
                  {{!-- <a href="#" class="button_type_2 color_dark r_corners fs_medium color_pink_hover tr_all d_inline_b">Read More</a> --}}
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="section_offset p_bottom_0 darken">
        <div class="container responsive_animate t_align_c">
          <h3 class="color_light fw_light m_bottom_40 m_xs_top_0">Why We Built This</h3>
          <p class="fs_large m_bottom_12 fw_light color_light">Our mission is to enable anyone from anywhere to earn an income by creating and streaming media. </p>
          <div class="row">
            <div class="col-lg-12 col-md-12 m_xs_bottom_30" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
              <div class="relative wrap-video">
                {{!-- <img class="layer_1" src="images/Diagram08.png" alt="" height="100%"> --}}
                {{!-- <img class="layer_2" src="images/layer_iphone.png" alt=""> --}}
                <div class="iframe_video_wrap">
                  <iframe src="https://player.vimeo.com/video/64473966?title=0&amp;byline=0&amp;portrait=0&amp;color=dedede" ></iframe>
                </div>
                <br>
                <a href="/crowdsale" class="color_green fs_large button_type_4 tr_all r_corners tt_uppercase d_inline_b half-width">Contribute To ICO</a><br>
                <br>
                <a href="/whitepaper.pdf" class="fs_large button_type_4 tr_all r_corners tt_uppercase d_inline_b color_dark bg_light color_light_hover half-width" target="_blank">View The Whitepaper</a>
              </div>
            </div>
            {{!-- <div class="col-lg-4 col-md-5" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <h3 class="color_light fw_light m_bottom_40 m_xs_top_0">Why We Built This</h3>
              <p class="fs_large m_bottom_12 fw_light color_light">Our mission is to enable anyone from anywhere to earn an income by creating and streaming media. </p>
              <a href="#" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">Download Whitepaper</a>
            </div> --}}
          </div>
        </div>
      </section>

      <section class="section_offset p_sm_top_0">
        <div class="container mobile_friendly">
          <div class="row">
            <div class="col-lg-5 col-md-4" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                <h3 class="color_dark fw_light m_bottom_40 m_xs_top_0">Features</h3>
                <p class="fs_large m_bottom_45 fw_light">Some of the features of the VirtuTV platform include monetization for everyone (content creators and viewers via streaming), an online wallet, video streaming via p2p, locked content (unlocked via donations). </p>
                <h5 class="color_dark fw_ex_bold m_bottom_40 m_xs_top_0">Monetization for all</h5>
                <ul class="color_dark fw_light">
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Content creators get paid per-view, from donations (one-time or recurring) and per ad engagements</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Anyone can earn via streaming content and flagging content that is inappropriate or inappropriately categorized</li>
                 
                </ul>
                <br>
                <h5 class="color_dark fw_ex_bold m_bottom_40 m_xs_top_0">Platform</h5>
                <ul class="color_dark fw_light">
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Online wallet</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Video streaming via p2p</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Locked content (unlocked via donations)</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Immediately get 10 VRTU upon signup for free</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Video engagement (like, dislike)</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Nested comments</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Subscriptions</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Sharable video links</li>
                  <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Profiles</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-7" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <div class="relative tablet">
                <img src="images/mobileview01.png">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section_offset image_bg_7" id="how_it_works">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-lg-offset-1 col-md-6" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <h3 class="color_light fw_light m_bottom_40 m_xs_top_0">ICO Details</h3>
              <p class="fs_large fw_light color_light m_bottom_25">Our crowdsale begins on Monday, August 9th, 2017 at 6:30PM (EST). </p>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 m_bottom_15">
                  <ul class="color_light fw_light">
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>ERC20 Standard Ethereum Token</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>VirtuTV Tokens are distributed <strong class="color_light">by smart contract</strong></li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Symbol Name: VRTU</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Price Per Token: 1 ETH = 160 VRTU</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 m_bottom_15">
                  <ul class="color_light fw_light">
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>100,000,000 Tokens in Total Supply</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>Unadjustable Total Supply</li>
                   
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>10% Of Tokens Distributed Are Offered To ICO Investors, and</li>
                    <li class="m_bottom_8"><i class="icon-angle-right m_right_15 fs_large"></i>50% Offered To Early VirtuTV Users </li>
                  </ul>
                </div>
              </div>
              <a href="/crowdsale" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">Contribute</a>
            </div>
          </div>
        </div>
      </section>
      <section class="section_offset p_bottom_0">
        <div class="container t_align_c">
          <h3 class="color_dark fw_light m_bottom_15" data-appear-animation="bounceInLeft">More about VirtuTV</h3>
          <p class="m_bottom_35" data-appear-animation="bounceInLeft" data-appear-animation-delay="150">The VirtuTV platform is perfect for content creators, video course creators, bloggers, podcasters, and journalists. </p>
          <div class="relative screens">
            {{!-- <img class="layer_2" src="images/prototype09.png" alt="" data-appear-animation="fadeInUp" data-appear-animation-delay="600" width="60%" height="80%"> --}}

            <img class="layer_1" src="images/prototype08.png" alt="" data-appear-animation="fadeInUp" data-appear-animation-delay="800" width="100%" height="100%">
            {{!-- <img class="layer_3" src="images/prototype09.png" alt="" data-appear-animation="fadeInUp" data-appear-animation-delay="1000" width="60%" height="80%"> --}}
          </div>
        </div>
      </section>
      <br>
      <section class="intro">
        <div class="container mobile_friendly t_align_c" data-appear-animation="fadeInUp">
          <h3 class="color_dark fw_light m_bottom_40 m_xs_top_0">Timeline</h3>
          <p class="fs_large m_bottom_45 fw_light">VirtuTV release timeline. </p>
        </div>
      </section>
      <section class="timeline image_bg_17">
        <ul>
          <li>
            <div class="fw_normal">
              <time class="color_green">June 2017 </time> Whitepaper published.
            </div>
          </li>
          <li>
            <div class="fw_normal">
              <time class="color_green">July 2017 </time> Website launched.
            </div>
          </li>
          <li>
            <div class="fw_normal">
              <time class="color_green">August 2017 </time> 1st token crowdsale.
            </div>
          </li>
          <li>
            <div class="fw_normal">
              <time class="color_green">Quarter 1 2018</time> Alpha MVP with basic functionality. Open to crowdsale participants only.
            </div>
          </li>
          <li>
            <div class="fw_normal">
              <time class="color_green">Quarter 3 2018</time> Beta with advanced functionality. Open to public participants. 
            </div>
          </li>
          <li>
            <div class="fw_normal">
              <time class="color_green">Quarter 4 2018</time> Advanced features.
            </div>
          </li>
        </ul>
      </section>
      <!--banner-->
      <section class="section_offset bg_light_2">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-9 col-sm-8 col-lg-offset-1" data-appear-animation="fadeInUp">
              <h3 class="color_dark fw_light m_bottom_15">Join Us <span class="color_green">On Slack</span></h3>
              <p>You can collaborate with others about the VirtuTV Project.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
              <a href="https://join.slack.com/t/virtutv/shared_invite/MjE0NjM5NjcwOTE5LTE1MDAyNTIxNzctN2RkYzJiNmU5NQ" id="get_started" class="button_type_4 r_corners d_inline_b color_green tt_uppercase fs_large m_top_5 m_sm_top_25 tr_all" target="_blank">        <img src="https://png.icons8.com/slack/color/24" title="Slack" width="24" height="24">  Join Slack</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--back to top button-->
    <button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
      <i class="icon-angle-up fs_large"></i>
    </button>
    <!--Libs-->

