<!--page title-->
<section class="page_title translucent_bg_purple image_fixed image_bg_11 t_align_c relative wrapper">
  <div class="container">
    <h1 class="color_light fw_light m_bottom_5">Meet Our Team</h1>
  </div>
</section>

<!--content-->
<section class="section_offset">
  <div class="container clearfix">
    <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">The Team</h3>
    <p class="m_bottom_35 heading_2 t_align_c">We are a fantastic team of passionate developers with a penchant for blockchain technologies. </p>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
        <!--person team-->
        <figure class="t_align_c">
          <img src="images/Pavank.png" alt="" class="r_corners m_bottom_23" height="180px" width="180px">
          <figcaption>
            <h4 class="m_bottom_5"><a href="https://www.linkedin.com/in/pavankat/" class="color_dark" target="_blank">Pavan Katepalli</a></h4>
            <i class="color_grey fs_medium d_inline_b m_bottom_5">Co-founder, Full-stack developer</i>
            <p class="m_bottom_15">Pavan is a seasoned internet and education entrepreneur with significant startup experience. Currently, he teaches data analytics at UC Berkeley. In the past, he's taught web development at Rutgers University and Barnard College. He is the founder of INRtracker.com, a personal health management tool designed for Warfarin patients, and Chief Learning Officer of Trilogy Education Services, a technology education company, which he helped scale to over 25 colleges across the United States, and over 300 employees.</p>
            <ul class="d_inline_b social_icons">
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://www.linkedin.com/in/pavankat/" class="color_grey_light_2 linkedin circle icon_wrap_size_1 d_block" target="_blank"><i class="icon-linkedin-1"></i></a></li>

              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://github.com/pavankat" class="color_grey_light_2 github circle icon_wrap_size_1 d_block" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
        <!--person team-->
        <figure class="t_align_c">
          <img src="images/vp.jpg" alt="" class="r_corners m_bottom_23" height="180px" width="180px">
          <figcaption>
            <h4 class="m_bottom_5"><a href="https://www.linkedin.com/in/vincent-porta-50952949/" class="color_dark" target="_blank">Vincent Porta</a></h4>
            <i class="color_grey fs_medium d_inline_b m_bottom_5">Co-founder, Full-stack developer</i>
            <p class="m_bottom_15">Vincent is a full-stack and open source developer, and is a master's student in Software Engineering at Stevens Institute of Technology. Vincent has made popular open source contributions that have consistently been the most downloaded and used in their respective categories. Prior to becoming a professional web developer, he was involved in real estate sales in the NYC Metro Area.</p>
            <ul class="d_inline_b social_icons">
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://www.linkedin.com/in/vincent-porta-50952949/" class="color_grey_light_2 linkedin circle icon_wrap_size_1 d_block" target="_blank"><i class="icon-linkedin-1"></i></a></li>
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://github.com/vporta" class="color_grey_light_2 github circle icon_wrap_size_1 d_block" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
        <!--person team-->
        <figure class="t_align_c">
          <img src="images/nickw.png" alt="" class="r_corners m_bottom_23" height="180px" width="180px">
          <figcaption>
            <h4 class="m_bottom_5"><a href="https://www.linkedin.com/in/nick-west-67471742/" class="color_dark" target="_blank">Nick West</a></h4>
            <i class="color_grey fs_medium d_inline_b m_bottom_5">React & React Native developer</i>
            <p class="m_bottom_15">Nick has been working as a technologist and technology educator at Rutgers University for seven years. Nick made an open source contribution to the React Native developer community, and has published multiple mobile apps. He is currently working as an Instructional Designer & Program Coordinator at Rutgers University School Of Social Work. </p>
            <ul class="d_inline_b social_icons">
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://www.linkedin.com/in/nick-west-67471742/" class="color_grey_light_2 linkedin circle icon_wrap_size_1 d_block" target="_blank"><i class="icon-linkedin-1"></i></a></li>
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://github.com/njwest" class="color_grey_light_2 github circle icon_wrap_size_1 d_block" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
        <!--person team-->
        <figure class="t_align_c">
          <img src="images/williamv.png" alt="" class="r_corners m_bottom_23" height="180px" width="180px">
          <figcaption>
            <h4 class="m_bottom_5"><a href="https://www.linkedin.com/in/williamavasquez/" class="color_dark" target="_blank">William Vasquez</a></h4>
            <i class="color_grey fs_medium d_inline_b m_bottom_5">Full-stack developer</i>
            <p class="m_bottom_15">William is a full-stack web development professional bringing years of experience from different roles in both large and small companies. He founded Phuyu S. A. C., a strategic consulting company for brands, which he successfuly exited in 2014. Of Peruvian descent, William holds an MBA from the Universidad del Pacífico, and has competeted in various startup competitions including UPC University's START UPC, where his team took first place. Currently, William works as a consulting software developer at Citibank. </p>
            <ul class="d_inline_b social_icons">
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://www.linkedin.com/in/williamavasquez/" class="color_grey_light_2 linkedin circle icon_wrap_size_1 d_block" target="_blank"><i class="icon-linkedin-1"></i></a></li>
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://github.com/williamavasquez" class="color_grey_light_2 github circle icon_wrap_size_1 d_block" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
        <!--person team-->
        <figure class="t_align_c">
          <img src="images/dzmitry.png" alt="" class="r_corners m_bottom_23" height="180px" width="180px">
          <figcaption>
            <h4 class="m_bottom_5"><a href="https://www.linkedin.com/in/ddzmitry/" class="color_dark" target="_blank">Dzmitry Dubarau</a></h4>
            <i class="color_grey fs_medium d_inline_b m_bottom_5">Full-stack developer</i>
            <p class="m_bottom_15">Dzmitry is a Michelin star chef, and was the personal chef to Michael Jordan. He speaks fluently in Russian and Belorussian and holds a degree in Veterinary Medicine. Dzmitry is also a talented software developer and is proficient in various languages including JavaScript and C#. Dzmitry currently works as a full-stack  developer at Telesource.</p>
            <ul class="d_inline_b social_icons">
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://www.linkedin.com/in/ddzmitry/" class="color_grey_light_2 linkedin circle icon_wrap_size_1 d_block" target="_blank"><i class="icon-linkedin-1"></i></a></li>
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://github.com/ddzmitry" class="color_grey_light_2 github circle icon_wrap_size_1 d_block" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
        <!--person team-->
        <figure class="t_align_c">
          <img src="images/mattd.png" alt="" class="r_corners m_bottom_23" height="180px" width="180px">
          <figcaption>
            <h4 class="m_bottom_5"><a href="https://www.linkedin.com/in/mattsplats/" class="color_dark" target="_blank">Matt Davis</a></h4>
            <i class="color_grey fs_medium d_inline_b m_bottom_5">Software developer</i>
            <p class="m_bottom_15">Matt is a rare coding talent and is currently ranked in the top 8% on Hackerrank. Matt is proficient in a number of languages (Python / Java / C++ / JavaScript), algorithms, data structures, AI and VR (Amazon Echo/Alexa, A-Frame/WebVR), and game development. When he is not building software, he is working as a rockstar coding tutor.
            </p>
            <ul class="d_inline_b social_icons">
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://www.linkedin.com/in/mattsplats/" class="color_grey_light_2 linkedin circle icon_wrap_size_1 d_block" target="_blank"><i class="icon-linkedin-1"></i></a></li>
              <li class="m_right_5 d_inline_m m_bottom_5"><a href="https://github.com/mattsplats" class="color_grey_light_2 github circle icon_wrap_size_1 d_block" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section_offset image_bg_5">
  <div class="container t_align_c">
    <h3 class="color_light fw_exbold m_bottom_25 heading_1 t_align_c">If you are talented, highly motivated, hardworking,<br>passionate about your work and want to join our team, contact us below. </h3>
    <a href="mailto:virtutv@protonmail.com" class="button_type_4 d_inline_b color_purple r_corners tt_uppercase fs_large tr_all">Contact Us</a>
  </div>
</section>